@import url(http://fonts.googleapis.com/css?family=Lato:400,700,900,700italic);
@import url(http://weloveiconfonts.com/api/?family=entypo);
html {
	background: url(../img/bg.jpg);
}
body {
	background: rgba(0, 120, 160, 0.8);
	height: auto;
}
body, h1, h2, h3, h4, h5, h6, button, .button, .pricing-table .title, .pricing-table .price {
	font-family: 'Lato', sans-serif;
}
h1, h2, h3, h4, h5, h6, p {
	margin-bottom: 1.5rem;
}

.button {
	clear: both;
}
/* entypo */
[class*="entypo-"]:before {
	font-family: 'entypo', sans-serif;
}
/*---Home---*/
.tab-bar, .tab-bar .button.expand {
	background: transparent;
}
.tab-bar .menu-icon span:after {

}
.tab-bar .button.expand:hover {
	background: rgba(0, 120, 160, 0.8);
}
.tab-bar h1.title {
	font-size: 1.5rem;
}
.tab-bar a, .top-row a, .top-row label, .footer a, .rsearch a, .rsearch label {
	color: #fff;
}
.left-small {
	border-right: transparent;
}
.right-small {
	border-left: transparent;
}
h1.title {
	font-weight: normal;
}
.rsearch .button.expand {
	height: 2.3125rem;
	padding-top: 0.25rem;
	font-size: 1.5rem;
}
.top-row {
	padding: 3rem 0;
}
.hero h2.text-center {
	margin: 2rem;
	color: #fff;
}
.hero h3 {
	color: #fff;
}
.content-row {
	padding: 5rem 0;
	background: rgb(244,244,244);
	background: -moz-linear-gradient(top,  rgba(244,244,244,0.8) 0%, rgba(255,255,255,0.5) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(244,244,244,0.8)), color-stop(100%,rgba(255,255,255,0.5)));
	background: -webkit-linear-gradient(top,  rgba(244,244,244,0.8) 0%,rgba(255,255,255,0.5) 100%);
	background: -o-linear-gradient(top,  rgba(244,244,244,0.8) 0%,rgba(255,255,255,0.5) 100%);
	background: -ms-linear-gradient(top,  rgba(244,244,244,0.8) 0%,rgba(255,255,255,0.5) 100%);
	background: linear-gradient(to bottom,  rgba(244,244,244,0.8) 0%,rgba(255,255,255,0.5) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f4f4', endColorstr='#ffffff',GradientType=0 );
	min-height: 600px;
}
.second-row {
	background: url(../img/bg2.jpg) center;
	background-size: 1000px;
}
.third-row {
	background: url(../img/bg3.jpg) top left;
	background-size: 1000px;
}
.fourth-row {
	background: url(../img/bg4.jpg) left center;
	background-size: 1000px;
}
.price-row, .pricing-table .title, .results-row {
	background: rgb(244,244,244);
	background: -moz-linear-gradient(top,  rgba(244,244,244,1) 0%, rgba(255,255,255,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(244,244,244,1)), color-stop(100%,rgba(255,255,255,1)));
	background: -webkit-linear-gradient(top,  rgba(244,244,244,1) 0%,rgba(255,255,255,1) 100%);
	background: -o-linear-gradient(top,  rgba(244,244,244,1) 0%,rgba(255,255,255,1) 100%);
	background: -ms-linear-gradient(top,  rgba(244,244,244,1) 0%,rgba(255,255,255,1) 100%);
	background: linear-gradient(to bottom,  rgba(244,244,244,1) 0%,rgba(255,255,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f4f4', endColorstr='#ffffff',GradientType=0 );
}
.footer {
	padding: 5rem 0 0;
}
.fixed-subnav, .fixed-subnav .sub-nav {
	padding: 0;
	margin: 0;
}
.fixed-subnav  .sub-nav dd {
	margin-left: 0;
}
.fixed-subnav  .sub-nav dd a {
	display: block;
	border-radius: 0;
}
.fixed-subnav .sub-nav dt a, .fixed-subnav .sub-nav dd a, .fixed-subnav .sub-nav li a {
	padding: 0.5rem;
}
@media only screen and (min-width: 40.063em) {
	.sidebar .panel.fixed {
		width: 22%;
		left: auto;
		max-width: 220px;
	}
	.info-empresa.open {
		left: 90% !important;
		top: 10px !important;
	}
	.fixed-subnav  .sub-nav dd {
		width: 100%;
	}
	.top-row {
		padding: 5rem 0;
	}	
	.second-row {
		background-size: 140%;
	}
	.third-row {
		background-size: 140%;
	}
	.fourth-row {
		background-size: 140%;
	}
}